<a href="https://colab.research.google.com/github/Meghavarshineks/Machine_Learning_Lab/blob/main/Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/muthuj7/weather-dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np 
import pandas as pd
import seaborn as s

In [ ]:
data = pd.read_csv("/content/gdrive/MyDrive/Dataset/weatherHistory.csv")
data.head()

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [ ]:
data.shape

(96453, 12)

Preparing Data for training the

In [ ]:
data['Loud Cover'].value_counts()

0.0    96453
Name: Loud Cover, dtype: int64

In [ ]:
data.drop(['Formatted Date','Daily Summary','Loud Cover','Wind Bearing (degrees)'],axis=1,inplace=True)

In [ ]:
data

             Summary Precip Type  ...  Visibility (km)  Pressure (millibars)
0      Partly Cloudy        rain  ...          15.8263               1015.13
1      Partly Cloudy        rain  ...          15.8263               1015.63
2      Mostly Cloudy        rain  ...          14.9569               1015.94
3      Partly Cloudy        rain  ...          15.8263               1016.41
4      Mostly Cloudy        rain  ...          15.8263               1016.51
...              ...         ...  ...              ...                   ...
96448  Partly Cloudy        rain  ...          16.1000               1014.36
96449  Partly Cloudy        rain  ...          15.5526               1015.16
96450  Partly Cloudy        rain  ...          16.1000               1015.66
96451  Partly Cloudy        rain  ...          16.1000               1015.95
96452  Partly Cloudy        rain  ...          15.5204               1016.16

[96453 rows x 8 columns]

In [ ]:
data.shape

(96453, 8)

In [ ]:
data.isnull().sum()

Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Visibility (km)               0
Pressure (millibars)          0
dtype: int64

In [ ]:
data['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [ ]:
data

             Summary Precip Type  ...  Visibility (km)  Pressure (millibars)
0      Partly Cloudy        rain  ...          15.8263               1015.13
1      Partly Cloudy        rain  ...          15.8263               1015.63
2      Mostly Cloudy        rain  ...          14.9569               1015.94
3      Partly Cloudy        rain  ...          15.8263               1016.41
4      Mostly Cloudy        rain  ...          15.8263               1016.51
...              ...         ...  ...              ...                   ...
96448  Partly Cloudy        rain  ...          16.1000               1014.36
96449  Partly Cloudy        rain  ...          15.5526               1015.16
96450  Partly Cloudy        rain  ...          16.1000               1015.66
96451  Partly Cloudy        rain  ...          16.1000               1015.95
96452  Partly Cloudy        rain  ...          15.5204               1016.16

[96453 rows x 8 columns]

In [ ]:
data['Precip Type'].fillna(method='ffill',inplace=True,axis=0)

In [ ]:
data['Precip Type'].value_counts()

rain    85741
snow    10712
Name: Precip Type, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Precip Type']=le.fit_transform(data['Precip Type'])
data['Summary']=le.fit_transform(data['Summary'])

In [ ]:
data

       Summary  Precip Type  ...  Visibility (km)  Pressure (millibars)
0           19            0  ...          15.8263               1015.13
1           19            0  ...          15.8263               1015.63
2           17            0  ...          14.9569               1015.94
3           19            0  ...          15.8263               1016.41
4           17            0  ...          15.8263               1016.51
...        ...          ...  ...              ...                   ...
96448       19            0  ...          16.1000               1014.36
96449       19            0  ...          15.5526               1015.16
96450       19            0  ...          16.1000               1015.66
96451       19            0  ...          16.1000               1015.95
96452       19            0  ...          15.5204               1016.16

[96453 rows x 8 columns]

In [ ]:
y =data.iloc[:,0]

In [ ]:
x = data.iloc[:,1:]

In [ ]:
x.corr()

                          Precip Type  ...  Pressure (millibars)
Precip Type                  1.000000  ...              0.009008
Temperature (C)             -0.562620  ...             -0.005447
Apparent Temperature (C)    -0.565207  ...             -0.000219
Humidity                     0.232113  ...              0.005454
Wind Speed (km/h)           -0.067928  ...             -0.049263
Visibility (km)             -0.312875  ...              0.059818
Pressure (millibars)         0.009008  ...              1.000000

[7 rows x 7 columns]

In [ ]:
x.drop('Apparent Temperature (C)',axis=1,inplace=True)

In [ ]:
x

       Precip Type  Temperature (C)  ...  Visibility (km)  Pressure (millibars)
0                0         9.472222  ...          15.8263               1015.13
1                0         9.355556  ...          15.8263               1015.63
2                0         9.377778  ...          14.9569               1015.94
3                0         8.288889  ...          15.8263               1016.41
4                0         8.755556  ...          15.8263               1016.51
...            ...              ...  ...              ...                   ...
96448            0        26.016667  ...          16.1000               1014.36
96449            0        24.583333  ...          15.5526               1015.16
96450            0        22.038889  ...          16.1000               1015.66
96451            0        21.522222  ...          16.1000               1015.95
96452            0        20.438889  ...          15.5204               1016.16

[96453 rows x 6 columns]

In [ ]:
x

       Precip Type  Temperature (C)  ...  Visibility (km)  Pressure (millibars)
0                0         9.472222  ...          15.8263               1015.13
1                0         9.355556  ...          15.8263               1015.63
2                0         9.377778  ...          14.9569               1015.94
3                0         8.288889  ...          15.8263               1016.41
4                0         8.755556  ...          15.8263               1016.51
...            ...              ...  ...              ...                   ...
96448            0        26.016667  ...          16.1000               1014.36
96449            0        24.583333  ...          15.5526               1015.16
96450            0        22.038889  ...          16.1000               1015.66
96451            0        21.522222  ...          16.1000               1015.95
96452            0        20.438889  ...          15.5204               1016.16

[96453 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
x_train.shape

(67517, 6)

In [ ]:
x_test.shape

(28936, 6)

**Training** the Model

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(max_depth=32,n_estimators=120,random_state=1)
RF.fit(x_train,y_train)
y_pred = RF.predict(x_test)

# Measuring Accuracy

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.5621025711915952

In [ ]:
RF.feature_importances_

array([0.00550319, 0.20707596, 0.15100808, 0.19850728, 0.23041043,
       0.20749505])